

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr class="text-center">
              @for (column of columns; track $index) {
                <th scope="col" class="px-6 py-3">
                    {{column}}
                </th>
              }

              <th scope="col" class="px-6 py-3">
                  Actions
              </th>
          </tr>
      </thead>
      <tbody>
        @for (item of tableRawData; track item; let parentIndex = $index) {
          <tr class="text-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                @for (row of tableRawData[parentIndex]; track row; let childIndex = $index) {
                  @if(!childIndex){
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      {{row}}
                    </th>
                  }@else{
                    <td class="px-6 py-4">
                        {{row}}
                    </td>
                  }
                }
                <td class="px-6 py-4">
                  <a [routerLink]="'edit-' + type + '/'+ item[0]" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td>
          </tr>
          }
      </tbody>
  </table>
</div>
